

.acerca-de-mi--info{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 20px;
}

.acerca-de-mi--info img{
  width: 85%;
  filter: grayscale(1);
  transition: 300ms ease-in;
}

.acerca-de-mi--info img:hover{
  filter: grayscale(0);
}
.presentacion{
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 800px){
  .acerca-de-mi--info img{
    width: 100%;
  }
}