.titulo-contenedor{
  height: 100vh;
  display: flex;
  
}

.titulo-contenedor h1{
  font-size: 7rem;
  opacity: 0;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  align-self: center;
}

@media (max-width: 1000px){
  .titulo-contenedor h1{
    font-size: 4rem;
  }
}
@media (max-width: 500px){
  .titulo-contenedor h1{
    font-size: 3rem;
  }
}
